*{
    margin: 0px;
    padding: 0px;
    border: none;
    box-sizing: border-box;
}
html,body{
    scroll-behavior: smooth;
}
:root{
    --off-white: "#fafafd";
    --var-purple: #A480F2;
    --font-pompierre: "Pompiere"
}
  
